*{
	font-family: Helvetica;
	font-weight: 200;
	border-radius:5;
}
.grid{
	margin: 10px auto 0px auto;
	height:350px;
	width:350px;
}
#title{
	color:white;
	font-family: cursive;
	font-weight: 600;
	line-height: normal;
}
#display{
	margin-top: 10px;
}
h1{
	text-align: center;
}
.number{
	height: 80px;
	width: 80px;
	margin:2px;
	background-color:rgba(255, 252, 252, 1);
	display:inline-block;
}
.math{
	background-color: #eaeaf2;
}
.equal{
	background-color: orange !important;
}
#screen{
	width:350px;
	height:70px;
	background-color: #d8f0cc;
	margin:0px auto 0px auto;
}
.tab{
	display: inline-block;
	background-color:orange;
}
#calcBody{
  background-color:#9ac2c8;
  margin:auto;
  border-radius: 10 !important;
  width:390px;
  height:510px;
}